
.container {
    width: 304px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 48px;
}

.content-container {
    flex: 2;
}